body {
  background-color: white;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  padding: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

:root {
  --off-white: #fafafa;
}

.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  margin: 40px;
  padding: 40px;
}

.section-home {
  height: calc(100vh - 80px);
}

.owl-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  width: 120px;
  height: auto;
}

.home-text {
  color: white;
  text-align: center;
}

#home {
  height: 100%;
  background-image: url("../img/nail-gilfanov-TuyneoFacJg-unsplash.jpg");
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;
  /* scale bg image proportionately */
  background-size: cover;
  

}

.footer {
  margin: 0;
  height: 100%;
  background-color: grey;
  padding: 20px;
}

.footer, p {
  margin: 0;
  font-size: 15px;
}